.profile {
	text-align: center;
	background-color: #ffffff;
	border-radius: 5px;
	max-width: 300px;
	margin: 15px auto;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.description {
	margin-bottom: 30px;
}

.avatar {
	width: 100px;
	border-radius: 50%;
	margin-top: 35px;
}

.name {
	font-size: 16px;
	color: #152335;
	font-weight: bold;
}

.tag,
.location {
	font-size: 14px;
	color: #84909d;
	line-height: 0.8;
}

.stats {
	display: flex;
	border-top: 1px solid #d9e0ea;
	list-style: none;
	background-color: #f3f6f9;
	margin: 0;
	padding: 0;
	border-radius: 0 0 5px 5px;
}

.stats li {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 33.33%;
	height: 75px;
	line-height: 1.4;
}

.stats li:not(:last-child) {
	border-right: 1px solid #d9e0ea;
}

.label {
	font-size: 12px;
	text-transform: capitalize;
	color: #84909d;
}

.quantity {
	font-weight: bold;
	color: #152335;
}
